{% extends "base.html" %}
{% block title %}
<title>Title</title>
{% endblock %}

{% block main %}
    <table class = 'table table-borderless'>
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td> Пользователь библлитеки</td>
            <td>Взятая книга</td>
            <td>Возвращена</td>
            <td>Когда вернуть</td>
            <td><a href="{% url 'order:order_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> Выдать книгу:
            </a> </td>
            <td> </td>
        </tr>
    </thead>
    <tbody>
        {% for book in all_book %}
        <tr>
            <td>{{ order.user }}</td>
            <td>{{ order.book }}</td>
            <td>{{ order.end_at }}</td>
            <td> {{ order.plated_end_at }} </td>
            <td>
                <a href="{% url 'order:order_update' order.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg">Изменить</i>
                </a>
            </td>
            <td>
            <form action="{% url 'book:book_delete' order.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"> Удалить </i>
                </button>
            </form>
         </td>
        </tr>
    {% endfor %}
    </tbody>




    </table>
{% endblock %}