{% extends 'base.html' %}
{% block main %}

    <form action="" method="post">

    {% csrf_token %}

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" value="{{ book.name }}" >
  </div>
    <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <input type="text" class="form-control" name="description" value="{{ book.description }}" >
    </div>
  <div class="mb-3">
    <label for="count" class="form-label">count</label>
    <input type="text" class="form-control" name="count" value="{{ book.count }}" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
